venv
venv2
.env
data/fi/*.tsv
data/en/*.tsv
data/fr/*.tsv
data/sv/*.tsv
*google_embeddings
.test
.hf
__pycache*
*.jsonl
output*
gemini.py
google.py
tmp
logs
log
wandb
checkpoints
tokens_cache
instruction_based
predictions
.wandb
hf_results
token.json
credentials.json
models